    <p class="navbar-text float-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% elsif nutritionist_signed_in? %>
        Logged in as <strong><%= current_nutritionist.email %></strong> nutritionist.
        <%= link_to 'Edit profile', edit_nutritionist_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_nutritionist_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        Nutritionist Area
        <%= link_to "Sign up", new_nutritionist_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_nutritionist_session_path, :class => 'navbar-link'  %>
        User Area
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </p>